.env
.env.local
/stats.pkl
/solar_dataset.json
**/__pycache__/**
/pred-output
/plots/cm.png
/archive
/astro-utils
/wandb
/notebook
/data
.ipynb_checkpoints
/shap_stats.json
/solar_dataset_subset.json
/shap_stats_test.json
/plots
/config.local
